---
import "../css/custom.css"
import "../css/general.css"
import ListCard from "../components/ListCard.astro"
import Layout from "../layouts/Layout.astro"

const endpoint =
  "https://cslftqskycbszssbrjfq.supabase.co/rest/v1/artister?select=*&limit=10"

const options = {
  headers: { apikey: "sb_publishable_uJBiElMI8evEQetR2TtT2g_2o4KGmfP" }};

const data = await fetch(endpoint, options).then((response) => response.json());


---

<Layout>
  <section>
    <h1>Artister</h1>
    <div class="filterbar">
      <div>
      <button class="filter-toggle" data-target="producer">Producer</button>
      <button class="filter-toggle" data-target="genre">Genre</button>
      </div> 
      <button id="clear-all" data-target="clear">Clear all filters</button>
      <button>Placeholder</button>
    </div>
    <div id="filter-panel">
      <div class="filter-content" data-panel="producer" hidden>
        <button class="filter-btn" data-producer="christian">Christian Afel</button>
        <button class="filter-btn" data-producer="Mads Mølgaard Helbæk">Mads Mølgaard</button>
        <button class="filter-btn" data-producer="peter">Peter Sloth</button>
        <button class="filter-btn" data-producer="felix">Felix Ziska</button>
        <button class="filter-btn" data-producer="joakim">Joakim Lambek</button>
      </div>
      <div class="filter-content" data-panel="genre" hidden>
        <button class="filter-btn">Pop</button>
        <button class="filter-btn">Indie</button>
        <button class="filter-btn">Rock</button>
      </div>
    </div>
  </section>
  <section id="projectsection">
    <p>pagination goes here</p>
    <div class="projectcontainer">
      {data.map((project) => <div class="project"><ListCard {project} /></div>)}
    </div>
  </section>
</Layout>

<style>
  body {
    background-image: var(--gradient-dark);
    background-size: 100%;
  }

   .projectcontainer {
    width: 90vw;
    margin: 0 auto;
   }

   @media (min-width: 850px) {
    .projectcontainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;
      border-top: solid 0.5px var(--secondary);
    }

    .project {
      padding: 16px;
    }

    .projectcontainer .project:nth-child(odd) {
      border-bottom: solid 0.5px var(--secondary);
      border-right: solid 0.5px var(--secondary);
      padding-left: 0px;
    }

    .projectcontainer .project:nth-child(even) {
      border-bottom: solid 0.5px var(--secondary);
      padding-right: 0px;
    }
   }
</style>

<script>

  // Viser og skjuler filtreringspaneler
  const toggles = document.querySelectorAll<HTMLElement>(".filter-toggle");
  const panels = document.querySelectorAll<HTMLElement>(".filter-content");

  toggles.forEach(toggle => {
    toggle.addEventListener("click",() => {
      const target = toggle.dataset.target
      panels.forEach(p => p.hidden = p.dataset.panel !== target);
    })
  })

  // Ændrer udseende på den aktive knap 
  document.querySelectorAll('.filter-btn').forEach(btn => {
  btn.addEventListener('click', () => btn.classList.toggle('active'));
});

// Filtrering
document.querySelectorAll(".filter-btn").forEach((button) => button.addEventListener("click",filter));

function filter(e) {
  const cards = document.querySelectorAll(".listcard");
  const valgtproducer = e.target.dataset.producer;
  cards.forEach((card) => {
    if (card.dataset.producer == valgtproducer) {
      card.classList.remove("hide");
    } else {
      card.classList.add("hide");
    }
  })
}
</script>