---
import "../css/custom.css"
import "../css/general.css"
import ListCard from "../components/ListCard.astro"
import ArtistLayout from "../layouts/ArtistLayout.astro"

const endpoint =
  "https://cslftqskycbszssbrjfq.supabase.co/rest/v1/artister?select=*"

const options = {
  headers: { apikey: "sb_publishable_uJBiElMI8evEQetR2TtT2g_2o4KGmfP" }};

const data = await fetch(endpoint, options).then((response) => response.json());


---

<ArtistLayout>
  <section>
    <h1>Artister</h1>
    <div class="filterbar">
      <div>
      <button class="filter-toggle" data-target="producer">Producer</button>
      <button class="filter-toggle" data-target="genre">Genre</button>
      </div> 
      <button id="clear-all" data-target="clear">Clear all filters</button>
      <button class="filter-toggle" data-target="sort">Sort by</button>
    </div>
    <div id="filter-panel">
      <div class="filter-content" data-panel="producer" hidden>
        <button class="filter-btn producer-btn" data-producer="christian">Christian Afel</button>
        <button class="filter-btn producer-btn" data-producer="Mads Mølgaard Helbæk">Mads Mølgaard</button>
        <button class="filter-btn producer-btn" data-producer="peter">Peter Sloth</button>
        <button class="filter-btn producer-btn" data-producer="felix">Felix Ziska</button>
        <button class="filter-btn producer-btn" data-producer="joakim">Joakim Lambek</button>
      </div>
      <div class="filter-content" data-panel="genre" hidden>
        <button data-genre="Alternative" class="filter-btn genre-btn">Alternative</button>
        <button data-genre="Alternative Pop" class="filter-btn genre-btn">Alternative pop</button>
        <button data-genre="Alternative rock" class="filter-btn genre-btn">Alternative rock</button>
        <button data-genre="Ambient" class="filter-btn genre-btn">Ambient</button>
        <button data-genre="Chamber pop" class="filter-btn genre-btn">Chamber pop</button>
        <button data-genre="Classic" class="filter-btn genre-btn">Classic</button>
        <button data-genre="Contemporary" class="filter-btn genre-btn">Contemporary</button>
        <button data-genre="Contemporary jazz" class="filter-btn genre-btn">Contemporary jazz</button>
        <button data-genre="Dream pop" class="filter-btn genre-btn">Dream pop</button>
        <button data-genre="Electronic" class="filter-btn genre-btn">Electronic</button>
        <button data-genre="Electronic pop" class="filter-btn genre-btn">Electronic pop</button>
        <button data-genre="Experimental" class="filter-btn genre-btn">Experimental</button>
        <button data-genre="Folk" class="filter-btn genre-btn">Folk</button>
        <button data-genre="Funk pop" class="filter-btn genre-btn">Funk pop</button>
        <button data-genre="Fusion" class="filter-btn genre-btn">Fusion</button>
        <button data-genre="Garage rock" class="filter-btn genre-btn">Garage rock</button>
        <button data-genre="Hiphop" class="filter-btn genre-btn">Hiphop</button>
        <button data-genre="Indie" class="filter-btn genre-btn">Indie</button>
        <button data-genre="Indie pop" class="filter-btn genre-btn">Indie pop</button>
        <button data-genre="Indie rock" class="filter-btn genre-btn">Indie rock</button>
        <button data-genre="Jazz" class="filter-btn genre-btn">Jazz</button>
        <button data-genre="Nordic folk" class="filter-btn genre-btn">Nordic folk</button>
        <button data-genre="Pop" class="filter-btn genre-btn">Pop</button>
        <button data-genre="Pop rock" class="filter-btn genre-btn">Pop rock</button>
        <button data-genre="Power pop" class="filter-btn genre-btn">Power pop</button>
        <button data-genre="Progressive rock" class="filter-btn genre-btn">Progressive rock</button>
        <button data-genre="Psychedelic rock" class="filter-btn genre-btn">Psychedelic rock</button>
        <button data-genre="R&B" class="filter-btn genre-btn">R&B</button>
        <button data-genre="Rap" class="filter-btn genre-btn">Rap</button>
        <button data-genre="Rock" class="filter-btn genre-btn">Rock</button>
        <button data-genre="Singer-songwriter" class="filter-btn genre-btn">Singer-songwriter</button>
      </div>
      <div class="filter-content" data-panel="sort" hidden>
        <button data-artist="az" class="sort-btn">Artist A-Z</button>
        <button data-artist="za" class="sort-btn">Artist Z-A</button>
        <button data-year="acc" class="sort-btn">Release accending</button>
        <button data-year="dec" class="sort-btn">Release descending</button>
      </div>
    </div>
  </section>
  <section id="projectsection">
    <p>pagination goes here</p>
    <div class="projectcontainer"> 
      {data.map((project) => <ListCard {project}/> )}
    </div>
  </section>
</ArtistLayout>

<style>
  body {
    background-image: var(--gradient-dark);
    background-size: 100%;
  }

   .projectcontainer {
    width: 90vw;
    margin: 0 auto;
   }

   button {
    background-color: transparent;
    font-family: var(--stolzl);
    color: var(--secondary);
    padding: 3px 18px 3px 6px;
    border: solid 1px var(--secondary);
    border-top-right-radius: 75px;
   }

   .active {
    background-color: var(--contrast);
    border: solid 1px var(--contrast);
   }

   @media (min-width: 850px) {
    .projectcontainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      border-top: solid 0.5px var(--secondary);
      padding-top: 15px;
      padding-bottom: 15px;
      background: linear-gradient(to right, transparent 0%, transparent 49.9%, var(--secondary) 50%, transparent 50.1%);
    }

    .project {
      padding: 16px;
    }
   }
</style>

<script>
  // @ts-nocheck

  // Viser og skjuler filtreringspaneler
  const toggles = document.querySelectorAll<HTMLElement>(".filter-toggle");
  const panels = document.querySelectorAll<HTMLElement>(".filter-content");
  // const cards = document.querySelectorAll<HTMLElement>(".listcard");
  

  toggles.forEach(toggle => {
  toggle.addEventListener("click", () => {
    const target = toggle.dataset.target;
    const targetPanel = [...panels].find(p => p.dataset.panel === target);

    panels.forEach(p => {
      if (p.dataset.panel !== target) p.hidden = true;
    });
    // Fjern active fra andre toggles
    toggles.forEach(t => { if (t !== toggle) t.classList.remove("active") });

    targetPanel.hidden = !targetPanel.hidden;
    toggle.classList.toggle("active", !targetPanel.hidden);
  });
});


// Funktion der lytter på knapper, ændrer deres udseende og sender videre til rette filtrering
  document.querySelectorAll('.filter-btn').forEach(btn => {
  btn.addEventListener('click', btnactive );
});

function btnactive(e) {
  const valgt = e.target;
  const cards = document.querySelectorAll(".listcard");
  const btns = document.querySelectorAll(".filter-btn");

  if (valgt.classList.contains("active")) {
    valgt.classList.remove("active");
    cards.forEach((card) => { card.classList.remove("hide"); });
  } else {
    btns.forEach((btn) => { btn.classList.remove("active"); });
    valgt.classList.add("active");

    if (valgt.classList.contains("producer-btn")) {
      filterproducer(e);
    } else {
      filtergenre(e);
    }
  }
}

// Filtrering

  // Producere
  function filterproducer(e) {
  const valgtproducer = e.target.dataset.producer;
  const cards = document.querySelectorAll(".listcard");

  cards.forEach((card) => {
    if (card.dataset.producer == valgtproducer) {
      card.classList.remove("hide");
    } else {
      card.classList.add("hide");
    }
  })

}

  // Genre
  function filtergenre(e) {
  const cards = document.querySelectorAll<HTMLElement>(".listcard");
  const valgtgenre = e.target.dataset.genre;
  cards.forEach((card) => {
    if (card.dataset.genre && JSON.parse(card.dataset.genre).includes(valgtgenre)) {
      card.classList.remove("hide");
    } else {
      card.classList.add("hide");
    }
  })
}


// Sortering
// Knapper ændrer udseende
document.querySelectorAll('.sort-btn').forEach(btn => {
  btn.addEventListener('click', sortactive );
});

function sortactive(e) {
  const valgt = e.target;
  const cards = document.querySelectorAll(".listcard");
  const btns = document.querySelectorAll(".sort-btn");

  if (valgt.classList.contains("active")) {
    valgt.classList.remove("active");
    cards.forEach((card) => { card.classList.remove("hide"); });
  } else {
    btns.forEach((btn) => { btn.classList.remove("active"); });
    valgt.classList.add("active");
    sort(e)
  }
}

// Selve sortering foregår her

function sort(e) {
  const cards = document.querySelectorAll<HTMLElement>(".listcard");
  const container = document.querySelector(".projectcontainer");
  container.textContent="";
  let newList;

  if (e.target.dataset.year) {
    const valgtdir = e.target.dataset.year;
    if (valgtdir == "acc") {
    newList = [...cards].sort((firstItem, secondItem) => firstItem.dataset.year - secondItem.dataset.year,
  );
  } else {
    newList = [...cards].sort((firstItem, secondItem) => secondItem.dataset.year - firstItem.dataset.year,
  );
  } 
  } else {
    const valgtdir = e.target.dataset.artist;
    if (valgtdir == "az") {
      newList = [...cards].sort((firstItem, secondItem) => firstItem.dataset.artist.localeCompare(secondItem.dataset.artist, "da")
  );
    } else {
      newList = [...cards].sort((firstItem, secondItem) => secondItem.dataset.artist.localeCompare(firstItem.dataset.artist, "da")
  );
    }
  }
   newList.forEach((card) => container.append(card));
}


</script>