---

---
<div id="getintouch">
    <div>
     <img src="/imgs/arrowtag.svg" alt="Arrow icon">
     <p class="tag"><span>.</span>Get in touch</p>
   </div>
</div>

<style>
    img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    #getintouch div {
        display: flex;
        transform: rotate(-90deg);    
    }

    #getintouch {
        display: flex;
        justify-content: end;
        height: 140px;
        margin-top: 90px;
    }

    p {
        max-width: 7ch;
    }

    span {
        color: transparent;
        padding-right: 20px;
    }
</style>