:root {
  /******* Colors *******/

  --primary: #8b3a1f;
  --secondary: #fffbf0;
  --secondary-dark: #ede3ce;
  --contrast: #e36212;
  --dark1: #452b19;
  --dark2: #2a1a0e;
  --dark3: #1b1109;
  --dark4: #0b0501;

  /******* Effects *******/

  --gradient-light: linear-gradient(180deg, #0b0501 50.07%, #452b19 126.68%);
  --gradient-dark: linear-gradient(144deg, #0b0501 26.14%, #1b1109 77.2%);
  --gradient-shadow: linear-gradient(
    180deg,
    #0b0501 0%,
    rgba(11, 5, 1, 0.22) 52.88%,
    rgba(11, 5, 1, 0) 100%
  );

  /******* Fonts *******/

  --gopher: "gopher", sans-serif;
  --book: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --stolzl: "stolzl", sans-serif;

  /* H1 */
  --h1-size: 1rem;
  --h1-size-desk: 3rem;

  /* H2 */
  --h2-size: 1rem;
  --h2-size-desk: 2.5rem;

  /* H3 */
  --h3-size: 1rem;
  --h3-size-desk: 2rem;

  /* H4 */
  --h4-size: 1rem;
  --h4-size-desk: 1.75rem;

  /* H5 */
  --h5-size: 1rem;
  --h5-size-desk: 1.5rem;

  /* Subtitle 1 */
  --sub1-size: 1rem;
  --sub1-size-desk: 1.125rem;

  /* Subtitle 2 */
  --sub2-size: 1rem;
  --sub2-size-desk: 1rem;

  /* Body 1 */
  --body1-size: 1rem;
  --body1-size-desk: 1rem;

  /* Body 2 */
  --body2-size: 1rem;
  --body2-size-desk: 0.75rem;

  /* Caption 1 */
  --cap1-size: 1rem;
  --cap1-size-desk: 0.75rem;

  /* Caption 2 */
  --cap2-size: 1rem;
  --cap2-size-desk: 0.75rem;

  /* Caption 3 */
  --cap3-size: 1rem;
  --cap3-size-desk: 0.625rem;

  /* CTA large */
  --ctal-size: 1rem;
  --ctal-size-desk: 1rem;

  /* CTA medium */
  --ctam-size: 1rem;
  --ctam-size-desk: 0.875rem;

  /* CTA small */
  --ctas-size: 1rem;
  --ctas-size-desk: 0.75rem;
}
